# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/

# Vite cache
.vite/

# Local env files
.env*.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
.DS_Store
